Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  -cert-err33-c,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
  

WarningsAsErrors: ""
HeaderFilterRegex: "include/.*"
FormatStyle: none